extends layout

block content
    .container
        .row
            .span6
                #viable
                    include includes/viable_form
            .span6
                a(data-bind='attr: { href: $data.id() + "/transits" }', class='btn btn-primary pull-right') Transits


        .row
            .span12
                #orion-results
                    table(class='table table-bordered')
                        thead
                            tr(data-bind='foreach: orion_titles')
                                td(data-bind='text: $data')
                        tbody
                            tr(data-bind='foreach: orion_values')
                                td(data-bind='text: $data')


        .row
            .span12
                #images
                    ul.thumbnails
                        li.span6
                            a(data-bind='attr: { href: lc_filename }', class='thumbnail')
                                img(data-bind='attr: { src: lc_filename }')
                        li.span6
                            a(data-bind='attr: { href: pgram_filename }', class='thumbnail')
                                img(data-bind='attr: { src: pgram_filename }')

        .row
            .span12
                #mcmc-results
                    table(class='table table-bordered')
                        thead
                            tr(data-bind='foreach: mcmc_titles')
                                td(data-bind='text: $data')
                        tbody
                            tr(data-bind='foreach: mcmc_values')
                                td(data-bind='text: $data')


    script(type='text/javascript', src='/js/_comp/detail-viewmodel.js')
    script(type='text/javascript')
        $(function() {
            ko.applyBindings(new ObjectInformation("#{id}", "#{sessionid}"));
        });

